body{
    background-color: rgb(0, 0, 0);
    font-family: 'Gruppo';
    font-size: 22px;
}

h1{
    display:flex;
    justify-content: center;
    color:rgb(0, 162, 0);
    font-size: 40px;
    font-style: uppercase;
    letter-spacing: 5px;
}
p {
    color:rgb(0, 162, 0);
    position: absolute;
    margin-left: 45%;
    animation: pop 1s infinite;
    /*transform:scale(1.5);*/
    /*transition: transform 0.3s ease infinite;*/
}
@keyframes pop {
    0% {
        transform:scale(1,1)
    }
  
    50% {
        transform:scale(1.5,1.5)
    }
    100% {
        transform:scale(1,1)
    }
  }
  
a {
    text-decoration:none;
    position:absolute;
    margin-top:25%;
    color:rgb(0, 162, 0);

}


/*---------------------------------------------------Grille de jeu--------------------------------------------------*/
.tableau{
    display:flex;
    justify-content: center;
    align-content:center;
    margin-top: 10%;
}

tr{
    width:100px;
    height:100px;
}
td{
    background-color:rgba(104, 98, 98, 0.193);
    color:rgb(0, 162, 0);
    border-collapse: collapse;
    width:100px;
    height:100px;
    border-radius: 20px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
td:hover {
    transform: scale(1.2, 1.2);
    transition: transform 0.3s ease;
    cursor:pointer;
  }